<h1 class="rule" style="margin-bottom:40px; font-size:35px;">RelayNovelガイドライン</h1>

<h1 class="rule">投稿について</h1>
<p>
投稿された作品に対して、運営側が手を加えることは一切ありません。
他サービスで公開されている作品についても「RelayNovel」に投稿することができます。ただし、他サービスの規約等で制限がある場合があるのでご注意ください。
RelayNovelに投稿できる作品は会員自らが創作した作品に限ります。
</p>

<h1 class="rule">「RelayNovel」上での表現について</h1>
<p>
表現の自由を制限するものではありませんが、青少年を含む利用者が気持ちよく利用できるように以下の表現についてはそれ自体が作品の目的（テーマ）ではなく、物語上の必要な要素として必要最低限の描写となるよう配慮をお願いいたします。
</p>
<ul style="padding-left:20px;">
  <li class="lista">表現・描写などにより著しく性欲を刺激するもの</li>
  <li class="lista">暴力的又は陰惨な画像・表現・描写などにより興味本位に暴力行為又は残虐性を喚起・助長するもの</li>
  <li class="lista">自殺を誘発・助長・ほう助するもの</li>
  <li class="lista">犯罪行為及び刑罰法令に抵触する行為又は誘引・助長・ほう助するもの</li>
  <li class="lista">他者に対する差別表現、権利を侵害する行為</li>
</ul>
<p>
上記についての過剰な表現や、表現・描写の割合が大きいものについては、修正依頼等のご連絡をする場合や作品の非公開化・削除を行う場合があります。
</p>
「18歳の飲酒・喫煙」など、法律で禁止されている行為について、物語の表現上やむをえず描写する場合は、そういった描写のある作品の紹介文の末尾に『この物語は、法律・法令に反する行為を容認・推奨するものではありません』など、行為の非推奨コメントを記載してください。
</p>

<h1 class="rule">投稿された作品の商用等の利用に関して</h1>
<p>
出版権を投稿者ご自身が保持して、同人誌販売(即売会・同人誌流通)・電子出版を行なうにあたって、RelayNovel上で販売に関する告知・宣伝を実施することは、第11条（営利目的利用の禁止）に抵触する行為となります。
</p>

<h1 class="rule">レビューについて</h1>
<p>
「作者への誹謗中傷」、「小説と関係ない内容」、「誤字脱字の指摘」などの内容や、「小説を読まずに投稿した行為」、また「RelayNovelのサイト内外を問わず、レビューを強要する行為」と判断した投稿は削除する場合があります。また利用規約に違反する内容や、作者への誹謗中傷などの投稿を行ったと運営が判断した場合は、利用停止やアカウント削除の対応を行う場合があります。
</p>

<h1 class="rule">アカウントに関して</h1>
<p>
本サイト管理者が認める場合を除き、一人で複数のアカウントを作成し、利用することは禁止します。
</p>

<p style="border-top:1px solid gray; padding-top:10px; margin-top:30px;">更新日　　2020年5月24日作成</p>