<div style="color: #494949;">
<h1 class="rule" style="margin-bottom:40px; font-size:35px;">プライバシーポリシー</h1>
<h1 class="rule">はじめに</h1>
<p>
語句の定義は<%= link_to "利用規約", novels_rule_path %>に準じるものとします。<br>
本サイト管理者は、利用者の個人情報をお預かりしております。<br>
本サイト管理者は、利用者により良いサービスを提供するために、個人情報の適切な収集を行い、利用の為の具体的なルールを定め、利用者の個人情報の適切な取扱いに努めてまいります。<br>
本サイト管理者は個人情報に関してのルールが適切に守られているかを常にチェックし、利用者の個人情報の適切な取扱いに努めてまいります。<br>
</p>

<h1 class="rule">第1条（適用範囲）</h1>
<p>
本方針は利用者が本サービスを利用される場合に適応されます。<br>
本サービス内より遷移する広告先、 並びに本サービスを通じて情報発信を行っている利用者のサイトを利用した結果残された個人情報に関しましては、本方針の適用範囲外とさせて頂きます。<br>
</p>

<h1 class="rule">第2条（個人情報の取得について）</h1>
<p>
本サイト管理者は、偽りその他不正の手段によらず適正に個人情報を取得致します。<br>
一部ページでIPアドレスなどの利用者情報を取得していますが、裁判所等からの正式な要請なき場合、その情報を第三者に公開することは一切ありません。<br>
本サイト管理者は本サービスにおいてクッキーを利用者のコンピュータに保存し、参照することがあります。<br>
また、本サービス内で広告を表示している会社及び本サイト管理者へアクセス解析サービスを提供している会社がある場合、利用者のコンピュータ内にクッキーを保存し参照することがあります。<br>
この場合、広告主及びアクセス解析サービスの提供者によるクッキーの利用は、広告主等のプライバシーの考え方に従って行われます。<br>

本サイト管理者は、第三者企業の広告配信サービスを利用することがあります。<br>
それに伴い、一部のクッキー情報は第三者企業に収集され、管理されます。<br>
詳細は、該当企業のプライバシーポリシーを利用してください。<br>
クッキーの利用に対しご同意頂けません場合は、該当企業のプライバシーポリシーよりオプトアウトを行ってください。<br>

<!--本サイト管理者では、サービス向上のためにグーグル株式会社が提供する「Googleアナリティクス」を利用しています。<br>-->
<!--「Googleアナリティクス」はサイト訪問者のクッキー情報を収集することでアクセス解析を行うツールであり、これにより弊社はユーザのサイト利用状況の分析を行っております。<br>-->
<!--詳細は、こちらをご覧ください。<br>-->
<!--グーグル株式会社によるクッキー情報の収集にご同意頂けません場合には、以下のページよりオプトアウトを行うか、クッキーを無効としてください。<br>-->
<!--（※クッキーを無効とした場合には、本サービスの一部機能をご利用頂けない可能性がございます。）<br>-->
<!--Google アナリティクス オプトアウト アドオン<br>-->
<!--https://tools.google.com/dlpage/gaoptout-->
<!--上記以外の広告主やその他の会社が、当グループのクッキーを参照することはできません。<br>-->
</p>

<h1 class="rule">第3条（個人情報の利用について）</h1>
<p>
本サイト管理者は、個人情報を以下の利用目的の達成に必要な範囲内で、利用致します。<br>
以下に定めのない目的で個人情報を利用する場合、あらかじめご本人の同意を得た上で行います。<br>
  <ol style="padding-left:20px;">
    <li class="list">本サービスの提供・運営のため</li>
    <li class="list">ご質問の受付・回答のため</li>
    <li class="list">メンテナンス、重要なお知らせなど必要に応じた案内のため</li>
    <li class="list">本サービスの利用規約に違反する利用形態を防止するため</li>
    <li class="list">本サイト管理者の提供するサービスに関連するキャンペーン、新機能などを紹介するため</li>
    <li class="list">個人情報の属性の集計、分析、統計資料作成のため</li>
    <li class="list">本サイト管理者の提供するサービスに利用者がアップロードしたコンテンツを利用することについて、アップロードした利用者に連絡するため</li>
    <li class="list">業務提携企業がある場合で、かつ共同で提供するサービス(以下、共同サービスという)を利用者が利用される場合に、業務提携企業に対して、共同サービスの提供に必要な最小限の項目の個人情報を提供するため</li>
  </ol>
</p>

<h1 class="rule">第4条（個人情報の安全管理について）</h1>
<p>
本サイト管理者は、取り扱う個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。
</p>

<h1 class="rule">第5条（個人情報の委託について）</h1>
<p>
本サイト管理者は、個人情報の取り扱いの全部または一部を第三者に委託する場合は、当該第三者について厳正な調査を行い、取り扱いを委託された個人情報の安全管理が図られるよう当該第三者に対する必要かつ適切な監督を行います。
</p>

<h1 class="rule">第6条（個人情報の第三者提供について）</h1>
<p>
本サイト管理者は、原則として個人情報をあらかじめご本人の同意を得ることなく、第三者に提供致しませんが 以下の場合には開示・提供することがあるものとします。<br>
  <ol style="padding-left:20px;">
    <li class="list">法令に基づく場合</li>
    <li class="list">人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
    <li class="list">公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
    <li class="list">国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要があって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
    <li class="list">本サイト管理者の提供するサービスの利用規約で利用者が同意している場合に該当するとき</li>
  </ol>
</p>

<h1 class="rule">第7条（個人情報の開示・訂正等について）</h1>
<p>
本サイト管理者は、ご本人から自己の個人情報についての開示の請求がある場合、速やかに開示を致します。<br>
その際、ご本人であることが確認できない場合には、開示に応じません。<br>
個人情報の内容に誤りがあり、ご本人から訂正・追加・削除の請求がある場合、調査の上、速やかにこれらの請求に対応致します。<br>
その際、ご本人であることが確認できない場合には、これらの請求に応じません。<br>
<!--本サイト管理者の個人情報の取り扱いにつきまして、上記の請求・お問い合わせ等ございましたら、お問い合わせフォームより、お問い合わせくださいますようお願い申し上げます。<br>-->
</p>

<h1 class="rule">第8条（免責）</h1>
<p>
  個人情報の漏洩等がないよう本サイト管理者は法律その他の規程に基づき適切にサービス運営を行いますが、以下の場合に、第三者が個人情報を取得したことにより発生したトラブルについては免責されるものとします。<br>
  <ol style="padding-left:20px;">
    <li class="list">利用者自らがサービス上の機能又は別の手段を用いて他の利用者に個人情報を明らかにする場合</li>
    <li class="list">他の利用者がサービス上に入力した情報により、期せずして本人が特定できてしまった場合</li>
    <li class="list">その他本サイト管理者に過失がないにも拘わらず発生した漏洩等の事故</li>
  </ol>
</p>

<h1 class="rule">第9条（本方針の変更）</h1>
<p>
本方針の内容は変更されることがあります。<br>
変更後の本方針については、本サイト管理者が別途定める場合を除いて、本サイトに掲載した時から効力を生じるものとします。<br>
</p>

<p style="border-top:1px solid gray; padding-top:10px; margin-top:30px;">更新日　　2020年7月20日作成</p>
</div>