<h1 class="rule" style="margin-bottom:40px; font-size:35px;">利用規約</h1>

<h1 class="rule">はじめに</h1>
<p>本利用規約（以下「本規約」といいます）は、RelayNovel（以下、「本サイト」といいます）が本サイト上で提供する全てのサービス（以下「本サービス」）の利用に際して遵守していただく事項を定めています。本サービスの利用に際しては、本規約の全文をお読みいただいた上で、本規約の内容に同意いただく必要があります。</p>

<h1 class="rule">第1条（定義）</h1>
<p>
  本規約において使用する用語の意義は、次の各号の定めるとおりとします。<br>
</p>
<ol style="padding-left:20px;">
<li class="list">「本サイト」とは、リレー小説投稿サイト「RelayNovel」をいいます。</li>
<li class="list">「本サービス」とは、本サイト上で提供される全てのサービスをいいます。</li>
<li class="list">「会員」とは、本規約第4条に従い、当社が定める会員登録を行った利用者をいいます。</li>
<li class="list">「利用者」とは、会員登録の有無を問わず、本サイトを利用するユーザーをいいます。</li>
<li class="list">「アカウント」とは、利用者が会員登録を行った際に一人につき一つ発行される利用者として識別され得る文字列をいいます。</li>
<li class="list">「投稿作品」とは、本規約に同意し、会員が本サービスに送信した小説及び小説を構成する情報をいいます。</li>
<li class="list">「投稿コンテンツ」とは投稿された小説及び小説に対するレビューコメントをいいます。</li>
</ol>

<h1 class="rule">第2条（適用範囲）</h1>
<p>
本規約は、本サイト管理者と利用者間の本サービスに関する一切の事項に適用するものとします。なお、本サービスには、本規約の他、本サイト管理者が別途定めるガイドライン等（以下本規約と併せて「本規約等」といいます）が適用されるものとします。本規約と本サイト管理者が別途定めるガイドライン等の定めが異なる場合には、後者の定めが優先して適用されます。
</p>

<h1 class="rule">第3条（利用環境の整備）</h1>
<p>
利用者は、本サービスを利用するために必要となる通信機器、ソフトウェア、その他の設備及びこれらに付随して必要となる全ての機器を、自己の費用と責任において準備するものとします。また、利用者は自己の費用と責任で、インターネット接続サービスを経由して本サービスに接続するものとします。
</p>

<h1 class="rule">第4条（会員登録）</h1>
<ol style="padding-left:20px;">
  <li class="list">利用者は次項各号に定める情報を登録申請し、本条第3項の本サイト管理者の基準に従って会員登録申請者の登録の可否を判断し、本サイト管理者が登録を承諾した時点で会員となり、次の各号に掲げるサービスを利用することができます。
    <ol style="padding-left:20px;">
      <li class="list">小説の投稿・管理</li>
      <li class="list">投稿コンテンツの投稿</li>
    </ol>
  </li>
  <li class="list">利用者は、以下の情報を登録することにより前項に規定する会員登録ができるものとします。
    <ol style="padding-left:20px;">
      <li class="list">メールアドレス</li>
      <li class="list">パスワード</li>
    </ol>
  </li>
  <li class="list">本サイト管理者は、以下の各号のいずれかに該当する場合は、本サイト管理者の判断によって、会員登録を承認せず、既に会員登録が承認された者については、本サービスの一部および全部の利用制限、または、会員登録の取り消しを行い、以降一切の本サービス利用をお断りすることがあります。 なお、その理由について一切開示義務を負いません。また、本サービス利用をお断りすることにより利用者または第三者が被った損害に関し、本サイト管理者は一切の責任を負いません。
    <ol style="padding-left:20px;">
      <li class="list">登録内容に虚偽、誤記又は記載漏れがあった場合</li>
      <li class="list">未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意を得ていなかった場合</li>
      <li class="list">本規約に違反した場合</li>
      <li class="list">会員登録を承認することに関し、本サイト管理者の業務の遂行上又は技術上支障があるとき。</li>
      <li class="list">利用者が反社会的勢力等（暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力これらに準じるものをいう。以下同様。）に該当する、または資金提供その他の方法により反社会的勢力等に協力、または関与していると本サイト管理者が判断する場合</li>
      <li class="list">その他本サイト管理者が会員登録を不適切だと判断した場合</li>
    </ol>
  </li>
</ol>

<h1 class="rule">第5条（利用の制限）</h1>
<p>
本サイト管理者は、以下の各号のいずれかに該当する場合は、本サイト管理者の判断によって、利用者の利用を制限したり、アクセスを遮断したりする場合があります。なお、その理由について一切開示義務を負いません。また、利用の制限またはアクセスの遮断により利用者または第三者が被った損害に関し、本サイト管理者は一切の責任を負いません。
</p>
<ol style="padding-left:20px;">
  <li class="list">不正アクセスなど違法行為があった場合</li>
  <li class="list">過剰に負荷をかける利用などサービスの運営に支障をきたす場合</li>
  <li class="list">スパム行為や嫌がらせ行為など、本規約第12条（禁止事項）で定める禁止行為があった場合</li>
  <li class="list">その他本サイト管理者が本サービスの利用について不適切だと判断した場合</li>
</ol>

<h1 class="rule">第6条（メールアドレスおよびパスワード）</h1>
<ol style="padding-left:20px;">
  <li class="list">会員は、前条の会員登録に際し、自己の管理に属する使用可能なメールアドレスを登録します。当該メールアドレスが自己の管理に属さなくなったときには、自己の管理に属する使用可能な別のメールアドレスに変更します。</li>
  <li class="list">会員は、登録したメールアドレスおよびパスワードの管理について一切の責任を持つものとします。</li>
  <li class="list">会員は登録したメールアドレスおよびパスワードを第三者に利用させ、または共有、譲渡、貸与、名義変更、売買等をしてはならないものとします。</li>
  <li class="list">会員が登録できるメールアドレスは本サイト管理者が認める場合を除き一人につき1件のみとします。複数のアカウントを所持することはできません。なお、複数のメールアドレス登録を認める場合の条件については、その理由について一切開示義務を負いません。</li>
  <li class="list">本サイト管理者は、登録したパスワードでの認証を経た本サービスの利用があった場合、会員登録を行った本人が本サービスを利用したものと扱うことができ、当該利用によって生じた結果およびそれに伴う一切の責任については、会員登録を行った本人に帰属するものとします。</li>
  <li class="list">登録したメールアドレスやパスワードが第三者に利用されたことによって生じた投稿コンテンツの消滅、登録するメールアドレスが不正確であったことから本サイト管理者から通知を受けられなくなったことによる損害等について、本サイト管理者はいかなる責任も負いません。</li>
</ol>

<h1 class="rule">第7条（退会）</h1>
<p>
会員が、本サイト管理者が定める所定の方法で退会を申込み、本サイト管理者にかかる退会の意思表示が到達した時点で退会申請を承諾するものとします。当社は、退会後、かかる会員の投稿コンテンツその他本サービスに関する情報を継続して保有する義務を負わないものとします。<br>
</p>

<h1 class="rule">第8条（投稿作品、投稿コンテンツ）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サイト管理者は、投稿作品および投稿コンテンツの内容について責任を負わないものとし、他の利用者および第三者から異議、申立て、クレームその他の請求を受けた場合は、会員が自己の責任と費用において処理、解決するものとします。</li>
  <li class="list">本サイト管理者および会員は、本サービスの運営ならびにプロモーション等に際し、必要に応じて本サービス上の全ての投稿作品及び投稿コンテンツを閲覧し、その全部または一部を利用することができるものとします。</li>
  <li class="list">利用者は本サイト管理者が投稿コンテンツを保存する義務を負わないことを承諾するものとします。</li>
</ol>

<h1 class="rule">第9条（知的財産権）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サイト管理者は本サービスに含まれる情報、サービス及びソフトウェアに関する知的財産権を保有しています。本サービスに使用されている全てのソフトウェアは、知的財産権に関する法令等により保護されている財産権及び営業秘密を含んでいます。</li>
  <li class="list">会員が本サービスに送信した一切のコンテンツ及び情報（以下「コンテンツ等」といいます。）の著作権は、会員に帰属するものとします。但し、本サービスの提供、利用促進及び本サービスの広告・宣伝の目的のために、本サイト管理者は会員が著作権を保有する本サービスへ送信されたコンテンツ等を無償かつ非独占的に掲載、配信、複製および派生著作物を作成すること、並びに本サイト管理者の関係者に対してこれらの権利を再許諾することができ、会員はこれを許諾するものとします。</li>
  <li class="list">会員は、本サイト管理者および本サイト管理者から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意するものとします。</li>
</ol>

<h1 class="rule">第10条（私的利用の範囲外の利用禁止）</h1>
<ol style="padding-left:20px;">
  <li class="list">利用者は、本サイト管理者が許諾した場合（コンテンツ等に関して権利をもつ第三者がいる場合には、本サイト管理者を通じ当該第三者の許諾を取得することを含みます。）を除き、本サービスを通じて入手したいかなるデータ、情報、文章、発言、ソフトウェアサービス等（以下「データ等」と総称します。）も、著作権法で認められた私的使用の範囲を超える複製、販売、出版のために利用することはできません。</li>
  <li class="list">利用者は、前項に違反する行為を第三者にさせることはできません。</li>
</ol>

<h1 class="rule">第11条（営利目的利用の禁止）</h1>
<ol style="padding-left:20px;">
  <li class="list">利用者は、本サービスの営利を目的とした利用及びその準備を目的とした利用（以下「営業活動」といいます。）をすることはできません。</li>
  <li class="list">前項にかかわらず、会員が本サイト管理者に申告し、本サイト管理者が承認した場合は、会員は承認の範囲内で営業活動を行うことができます。</li>
</ol>

<h1 class="rule">第12条（禁止事項等）</h1>
<ol style="padding-left:20px;">
  <li class="list">利用者は、次の行為をおこなってはならないものとします。</li>
  <ol style="padding-left:28px;">
    <li class="list">本サイトを逆アセンブル、逆コンパイル、リバースエンジニアリング、その他本サイトまたは本アプリのソースコード、構造、アイデア等を解析するような行為</li>
    <li class="list">本サイトを複製、改変、翻案、他のソフトウェアと結合等する行為</li>
    <li class="list">本サイトに組み込まれているセキュリティデバイスまたはセキュリティコードを破壊するような行為</li>
    <li class="list">コンピュータウィルス等の不正なプログラム等を送信する行為</li>
    <li class="list">本サービスに対するクラッキングを試みる等、本サービスに対する不正な働きかけをする行為</li>
    <li class="list">複数のアカウントを取得する行為</li>
    <li class="list">二次創作作品を本サービスおよび本サービス外で投稿する行為</li>
    <li class="list">本サイト管理者または第三者の知的財産権、肖像権、パブリシティ権、名誉権、所有権その他一切の権利を侵害する行為</li>
    <li class="list">本サイト管理者または第三者に損害その他何らかの不利益を与える行為</li>
    <li class="list">犯罪行為、および犯罪を助長する一切の行為</li>
    <li class="list">法令または公序良俗に違反するまたは違反するおそれのある行為</li>
    <li class="list">本サイト管理者の承認を得ずにおこなわれる営利目的の行為</li>
    <li class="list">メールアドレス・電話番号を公開及び交換する行為</li>
    <li class="list">本サイト管理者又は第三者になりすます行為</li>
    <li class="list">性行為やわいせつな行為等を目的として利用する行為</li>
    <li class="list">自殺、自傷行為、殺害、虐待等を誘引、助長する行為</li>
    <li class="list">過度に暴力的またはグロテスクな表現を投稿する行為</li>
    <li class="list">政治的、宗教的行為またはこれに関連する行為</li>
    <li class="list">自己または第三者の個人情報、行動履歴その他個人を特定することができる情報を不正に収集、開示、送信する行為</li>
    <li class="list">他人に不快感や誤解を与えるようなユーザー名を使用する行為、本サイト管理者あるいは他人、一般的に知られている社名、団体名、商品名、ペンネームと誤解されるような同一あるいは類似のユーザー名を使用する行為</li>
    <li class="list">本サービスの利用権を第三者に再許諾、譲渡、移転またはその他の方法で処分する行為</li>
    <li class="list">本サービスに付されている著作権表示およびその他の権利表示を除去または変更する行為</li>
    <li class="list">本サービス又は第三者のサービスの運営を妨害する行為</li>
    <li class="list">本サイト管理者若しくは第三者に信用の毀損若しくは財産権の侵害等の不利益を与える行為又はその行為が前各号のいずれかに該当することを知りつつ、その行為を助長する態様でリンクをはる行為</li>
    <li class="list">第三者が前各号に該当する行為をおこなうことを助長する行為</li>
    <li class="list">その他本サイト管理者が不適当と認める行為</li>
  </ol>
  <li class="list">本サイト管理者は、利用者が本規約等のいずれかの条項に違反したときまたは違反するおそれがあるときは、利用者に対して事前に通知することなく、本サイト管理者の判断で本サービスの全部もしくは一部の利用停止または投稿コンテンツの全部もしくは一部の削除その他本サイト管理者が必要と認める措置をとることができるものとします（ただし、本サイト管理者はこれらの措置をとる義務を負うものではありません）。</li>
  <li class="list">前項の措置により利用者に損害が生じた場合であっても、本サイト管理者は責任を負いません。</li>
</ol>

<h1 class="rule">第13条（利用停止等）</h1>
<ol style="padding-left:20px;">
  <li class="list">利用者が本規約等に違反したと認められる場合、その他本サイト管理者が必要と認める場合は、本サイト管理者は当該利用者に対し以下の事項を実施することができるものとします。また、これらの措置により利用者に不利益・損害が発生した場合においても本サイト管理者はその責任を負いません。</li>
  <ol style="padding-left:20px;">
    <li class="list">投稿コンテンツ等の情報、履歴等の情報の全部もしくは一部を削除、または閲覧できない状態（非公開）にすること</li>
    <li class="list">刑事事件、行政事件、その他に該当する可能性がある場合の警察その他の公的機関への通報を含む、違反事実の本サービス内外の開示</li>
    <li class="list">利用者の資格等のはく奪、その他の本サービス上での不利益措置</li>
    <li class="list">本サービスの利用を停止すること、または一時的に利用を停止すること</li>
  </ol>
  <li class="list">利用者は、本サイト管理者が本規約等に基づいておこなった、本規約等に違反する行為等への対処について異議を申し立てることはできません。</li>
  <li class="list">利用者の行為によって本サイト管理者に損害が発生した場合、本サイト管理者が措置をとったか否かに関わらず、本サイト管理者はその利用者に対して損害賠償請求をすることができるものとします。</li>
  <li class="list">本規約等に違反する行為により生じた結果について、本サイト管理者は責任を負うものではありません。</li>
</ol>

<h1 class="rule">第14条（免責事項）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サービスは現状有姿で利用者に提供されるものであり、本サイト管理者は、明示的であるか否かを問わず、瑕疵担保責任および本サービス、本サイトの機能、性能、利用の結果、その正確性、信頼性（誤動作を起こさないことを含みます）、その他についての保証を含め、本サービスに関して一切の保証をおこないません。また、本サイト管理者は、本サービスの利用により、利用者のコンピューターやスマートフォン等の携帯端末が誤動作を起こさないことを保証するものではありません。</li>
  <li class="list">本サイト管理者は、本サービスまたはその利用に関連して、いかなる場合も利用者の逸失利益、特別な事情から生じた損害（当該損害の発生について本サイト管理者が予見し、または予見しえた場合も含みます）および第三者から利用者に対してなされた損害賠償請求に基づく損害について、責任を負いません。</li>
  <li class="list">本サイト管理者は、本サービスのバグその他を補修する義務および本サービスを改良または改善する義務は負いません。ただし、本サイト管理者は、本サイト管理者の判断により、利用者に本サービスのアップデート版またはバージョンアップ情報等を提供する場合があります。この場合、かかるアップデート版またはバージョンアップ情報等も本サービスとして扱い、これらにも本規約等が当然に適用されます。</li>
  <li class="list">利用者間で発生した紛争・トラブルについては、各利用者間で解決するものとし、本サイト管理者は責任を負わないものとします。</li>
  <li class="list">本サイト管理者が本規約等においてまたは本規約等と関連して負う賠償責任は、（消費者契約法の適用等により本規約等の本サイト管理者の免責条項が無効になる場合を除いて）本サイト管理者に故意または重大な過失がある場合に限るものとします。また、付随的損害、間接損害、特別損害、将来の損害および逸失利益にかかる損害については賠償する責任を負わないものとします。</li>
  <li class="list">消費者契約法の適用等により本サイト管理者が本規約等に関連して損害賠償責任を負う場合であっても、本サイト管理者は、1万円を上限として責任を負うものとします。</li>
</ol>

<h1 class="rule">第15条（本サイト管理者からの通知）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サイト管理者は、本サイトの掲載その他本サイト管理者が適切と判断する方法により、利用者に本サービス利用に関し必要な事項を通知するものとします。</li>
  <li class="list">前項の通知は、通知行為をおこなった時点で効力が発生するものとします。</li>
</ol>

<h1 class="rule">第16条（本サービスの中断）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サイト管理者は、以下の事由が発生した場合、利用者に事前に通知することなく、本サービスの全部又は一部の提供を中断することがあります。</li>
  <ol style="padding-left:20px;">
    <li class="list">本サービスにかかるシステムの保守又は点検</li>
    <li class="list">本サービスにかかるシステムの障害</li>
    <li class="list">電気通信インフラの障害による提供不能</li>
    <li class="list">地震、津波等の天災事変の発生</li>
    <li class="list">戦争、動乱、暴動、騒乱、労働争議等による提供不能</li>
    <li class="list">その他、本サイト管理者が本サービスの一時中断が必要と判断した場合</li>
  </ol>
  <li class="list">本サイト管理者は、前項各号のいずれか、又はその他の事由により本サービスの全部又は一部の提供に遅延又は中断が発生しても、これに起因する会員又は第三者が被った損害について一切責任を負いません。</li>
</ol>

<h1 class="rule">第17条（本サービスの提供の中止）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サイト管理者は、利用者に通知の上、本サービスの全部又は一部の提供を中止することがあります。</li>
  <li class="list">本サイト管理者は、前項による本サービスの中止に関し、一切責任を負いません。</li>
</ol>

<h1 class="rule">第18条（準拠法および裁判管轄）</h1>
<p>
本規約等の準拠法は日本国法とし、日本国の法令に従って解釈されるものとします。本規約及び本サービスに関連する紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
</p>

<h1 class="rule">第19条（権利義務の譲渡禁止等）</h1>
<ol style="padding-left:20px;">
  <li class="list">利用者は本サービスに関して有する権利義務の一切を第三者に譲渡し、貸与し、または担保に供する等の行為はできないものとします。</li>
  <li class="list">本サイト管理者は、当社の関係会社との組織再編手続きに伴って、本サービスに関して有する権利義務の全部又は一部を本サイト管理者の関係会社に譲渡し、承継させ、貸与し、又は担保に供する等の行為をすることができるものとします。</li>
</ol>

<h1 class="rule">第20条（分離可能性）</h1>
<p>
本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定および一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。<br>
</p>

<h1 class="rule">第21条（本規約・サービスの変更等）</h1>
<ol style="padding-left:20px;">
  <li class="list">本サイト管理者は、利用者の承諾を得ることなく、本規約を変更することができるものとし、変更後の本規約は、変更事項を本サイトに掲載した時点、又は本サイト管理者が別途指定した期日から効力を生じるものとします。本規約変更後に本サービスを利用する利用者は変更後の本規約等の内容に同意しているものとみなされるものとし、利用者はこれを承諾するものとします。</li>
  <li class="list">本サービスの内容は、将来予告なく変更、追加、削除することがあります。</li>
</ol>


<p style="border-top:1px solid gray; padding-top:10px; margin-top:30px;">更新日　　2020年5月20日作成</p>


<h1 class="rule" style="margin-top:50px;">附則</h1>
<p>
この附則（以下「本附則」といいます）は、RelayNovel（以下、「本サイト」といいます）の監理者が、このサイトの利用者（以下「利用者」といいます）向けに提示している利用規約（利用規約に附帯して提示されている会員規約、投稿規約その他の利用条件がある場合にはその一切を含み、以下これらを総称して「利用規約等」といいます）と一体をなすものとして、利用者に適用されるものとします。
</p>

<h1 class="rule">第1条（利用規約等の適用）</h1>
<p>
利用規約等は、このサイト（このサイトに関わるサービスを含みます。以下本条において同じ）の利用に関する本サイト管理者と利用者との間の契約内容となります。利用者がこのサイトをご利用になった場合には（会員登録等によりこのサイトに関わるサービスの利用が可能となる場合には、当該登録行為を完了した時点で）、利用規約等を契約の内容とすることに合意いただいたものとして取り扱われるものとします。
</p>

<h1 class="rule">第2条（利用規約等の変更）</h1>
<p>
弊社は、利用者の承諾を得ることなく、利用規約等を変更することができるものとします。なお、利用規約等を変更する場合、その変更の時期及び内容をこのサイト上で適切な方法により周知し、又は利用者に通知します。但し、法令上、利用者の同意が必要となる変更を行う場合は、弊社所定の方法で利用者の同意を得るものとします。
</p>

<h1 class="rule">第3条（本附則の適用）</h1>
<p>
本附則の内容が利用規約等の内容と異なる場合には、本附則の内容が優先して適用されるものとします。
</p>

<h1 class="rule" style=" margin-top:30px;">附則制定日（利用規約改定日）</h1>
<p>2020年3月19日</p>